
<nav class="main-nav">
    <a class="nav-toggle" id="open-nav" href="#">&#9776;</a>
    <ul class="nav-root">
        {% for link in site.data.navigation %}
        {% assign class = "" %}
        {% if link.highlight %}{% assign class = class | append: " highlight" %}{% endif %}
        {% if page.url == link.link or page.url contains link.link %}{% assign class = class | append: " active" %}{% endif %}
        <li class="{{ class }}">
            <a href="{% include relative-src.html src=link.link %}" {% if link.new_window %}target="_blank"{% endif %}>
                {{ link.name }}
            </a>
        </li>
        {% endfor %}
    </ul>
</nav>
